<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949297250249-k7ugsr9lifbb0lnpcisk1sfck37g72g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949297250249-k7ugsr9lifbb0lnpcisk1sfck37g72g3</string>
	<key>API_KEY</key>
	<string>AIzaSyDbWKytEK7LgJOmxdUcTURIaLRaOhFfCZA</string>
	<key>GCM_SENDER_ID</key>
	<string>949297250249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdriah.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-cc95b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-cc95b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949297250249:ios:293977fbbcf92004eaf218</string>
</dict>
</plist>